<div class="login-container">
  <header class="header">
    <div class="logo">LOGO</div>
  </header>

  <main class="main">
    <div class="left-side">
      <h2>Rezervă-ți locul la birou în câteva secunde!</h2>
      <p>
        Simplifică-ți zilele de lucru. Alege biroul dorit, vezi disponibilitatea
        în timp real și lucrează acolo unde ai nevoie.
      </p>
    </div>

    <div class="right-side">
      <div class="card">
        <h3>Autentificare</h3>

        <form (ngSubmit)="onLogin()">
          <label for="email">Utilizator</label>
          <input
            id="email"
            type="email"
            name="email"
            required
            placeholder="nume@email.com"
            [(ngModel)]="emailModel"
          />

          <label for="password">Parolă</label>
          <input
            id="password"
            type="password"
            name="password"
            required
            placeholder="Parola ta"
            [(ngModel)]="passwordModel"
          />

          <button type="submit" class="btn-primary" [disabled]="loading">
            {{ loading ? 'Se conectează...' : 'Intră în cont' }}
          </button>

          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>
          <div class="divider">
            <span>–––––––– Sau ––––––––</span>
          </div>

          <button
            type="button"
            class="btn-secondary"
            (click)="goToRegister()"
            [disabled]="loading"
          >
            Creează cont
          </button>
        </form>
      </div>
    </div>
  </main>

  <footer class="footer">Footer</footer>
</div>
