<div class="layout">
  
  <!-- <aside class="sidebar">
    <div class="logo">BookASeat</div>

    <nav>
      <a *ngFor="let item of (role === 'ADMIN' ? navAdmin : navEmployee)"
         [routerLink]="item.path"
         routerLinkActive="active">{{ item.label }}</a>
    </nav>

    <div class="user">
      <div>{{ user?.name || 'User' }}</div>
      <small>{{ role }}</small>
      <button (click)="logout()">Logout</button>
    </div>
  </aside> -->

  
  <div class="main-section">
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
